
/* ---------------------------------------
	Responsive design code
-----------------------------------------*/

@media screen and (min-width: 1024px) {

.hidemobile5 {
	display: none !important;
}

#googletags {
	display: inherit;
}
#socialicons {
	display: inherit;
}
#logomodule {
	display: inherit;
}
#module2 {
	display: inherit;
}
#nav1 {
	display: inherit;
}
#bannermodule {
	display: inherit;
}
#module1 {
	display: inherit;
}
#supermicrofooter {
	display: inherit;
}


}

@media screen and (max-width: 1024px) {

img {
	max-width: 100% !important;
        height: auto !important;
}

.container {
	width: 950px !important;
}

.hidemobile4 {
	display: none !important;
}

#googletags {
	display: inherit;
}
#socialicons {
	display: inherit;
}
#logomodule {
	display: inherit;
}
#module2 {
	display: inherit;
}
#nav1 {
	display: inherit;
}
#bannermodule {
	display: inherit;
}
#module1 {
	display: inherit;
}
#supermicrofooter {
	display: inherit;
}


}

@media screen and (max-width: 950px) {

.container {
	width: 758px !important;
}

.hidemobile3 {
	display: none !important;
}

#googletags {
	display: inherit;
}
#socialicons {
	display: inherit;
}
#logomodule {
	display: inherit;
}
#module2 {
	display: inherit;
}
#nav1 {
	display: inherit;
}
#bannermodule {
	display: inherit;
}
#module1 {
	display: inherit;
}
#supermicrofooter {
	display: inherit;
}

#modules1mod1 > div.inner {
	margin-left: 20px;
}



}

@media screen and (max-width: 758px) {

.container {
	width: 524px !important;
}

.hidemobile2 {
	display: none !important;
}

#googletags {
	height: auto !important;
}
#googletags .logobloc {
	float :none !important;
	width: auto !important;
}
#socialicons {
	height: auto !important;
}
#socialicons .logobloc {
	float :none !important;
	width: auto !important;
}
#logomodule .flexiblemodule {
	width: 100% !important;
float: none;
}
/*#logomodule .flexiblemodule > div.inner {
	margin-left: 0 !important;
	margin-right: 0 !important;
}*/
#module2 {
	height: auto !important;
}
#module2 .logobloc {
	float :none !important;
	width: auto !important;
}
#nav1 {
	height: auto !important;
}
#nav1 ul {
	height: auto !important;
}
#nav1 li {
	float :none !important;
	width: 100% !important;
}
#nav1 div.floatck {
	width: 100% !important;
}
#bannermodule {
	height: auto !important;
}
#bannermodule .logobloc {
	float :none !important;
	width: auto !important;
}
#maincontent .column {
	width: 100% !important;
	clear:both;
	float:left
}
#maincontent .column1 div.inner, #maincontent .column2 div.inner {
	/*overflow:hidden;*/
}
#maincontent .column div.inner {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.items-row .item, .column {
	width: auto !important;
	float: none;
	margin: 0 !important;
}

.column div.moduletable, .column div.moduletable_menu {
	float: none;
	width: auto !important;
	/*margin: 0 !important;
	padding: 0 !important;*/
}

/** specifique au formulaire de contact **/
.contact form fieldset dt {
	max-width: 80px;
}

.contact input, .contact textarea {
	max-width: 160px;
}#module1 {
	height: auto !important;
}
#module1 .logobloc {
	float :none !important;
	width: auto !important;
}
#supermicrofooter {
	height: auto !important;
}
#supermicrofooter .logobloc {
	float :none !important;
	width: auto !important;
}

.footertext	{
	float:left;
	width:100%;
	margin:40px 0 0 0;
}

.footer-logos	{
	float:left;
	width:100%;
	margin:20px 0;
}

.homepage-callout01 {
    margin: 15px 2% 0;
}

.email-callout {
    background: none repeat scroll 0 0 #c3c3c3;
    float: left;
    font-size: 16px;
    padding: 10px 3%;
    width: 84%;
	margin:5%
}

.email-callout img {
    float: left;
    margin: 0 15px 0 0;
    width: 50px;
}

.email-callout p {
    float: left;
    padding: 0;
    width: 70%;
}

.subpage .email-callout {
    background: none repeat scroll 0 0 #c3c3c3;
    float: left;
    font-size: 16px;
    padding: 10px 3%;
    width: 84%;
	margin:5%
}

.subpage .email-callout img {
    float: left;
    margin: 0 15px 0 0;
    width: 50px;
}

.subpage .email-callout p {
    float: left;
    padding: 0;
    width: 70%;
}

.phone	{
	display:block;
}

.nonphone	{
	display:none;
}



}

@media screen and (max-width: 524px) {

.container {
	width: 292px !important;
}

.hidemobile1 {
	display: none !important;
}

#googletags {
	height: auto !important;
}
#googletags .logobloc {
	float :none !important;
	width: auto !important;
}
#socialicons {
	height: auto !important;
}
#socialicons .logobloc {
	float :none !important;
	width: auto !important;
}
#logomodule .flexiblemodule {
	width: 100% !important;
float: none;
}
/*#logomodule .flexiblemodule > div.inner {
	margin-left: 0 !important;
	margin-right: 0 !important;
}*/
#module2 {
	height: auto !important;
}
#module2 .logobloc {
	float :none !important;
	width: auto !important;
}
#nav1 {
	height: auto !important;
}
#nav1 ul {
	height: auto !important;
}
#nav1 li {
	float :none !important;
	width: 100% !important;
}
#nav1 div.floatck {
	width: 100% !important;
}
#bannermodule {
	height: auto !important;
}
#bannermodule .logobloc {
	float :none !important;
	width: auto !important;
}
#maincontent .column {
	width: 100% !important;
	clear:both;
	float:left
}
#maincontent .column1 div.inner, #maincontent .column2 div.inner {
	/*overflow:hidden;*/
}
#maincontent .column div.inner {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.items-row .item, .column {
	width: auto !important;
	float: none;
	margin: 0 !important;
}

.column div.moduletable, .column div.moduletable_menu {
	float: none;
	width: auto !important;
	/*margin: 0 !important;
	padding: 0 !important;*/
}

/** specifique au formulaire de contact **/
.contact form fieldset dt {
	max-width: 80px;
}

.contact input, .contact textarea {
	max-width: 160px;
}#module1 {
	height: auto !important;
}
#module1 .logobloc {
	float :none !important;
	width: auto !important;
}
#supermicrofooter {
	height: auto !important;
}
#supermicrofooter .logobloc {
	float :none !important;
	width: auto !important;
}

.email-callout {
    background: none repeat scroll 0 0 #c3c3c3;
    float: left;
    font-size: 16px;
    padding: 10px 3%;
    width: 84%;
	margin:5%
}

.email-callout img {
    float: left;
    margin: 0 15px 0 0;
    width: 50px;
}

.email-callout p {
    float: left;
    padding: 0;
    width: 70%;
}

.subpage .email-callout {
    background: none repeat scroll 0 0 #c3c3c3;
    float: left;
    font-size: 16px;
    padding: 10px 3%;
    width: 84%;
	margin:5%
}

.subpage .email-callout img {
    float: left;
    margin: 0 15px 0 0;
    width: 50px;
}

.subpage .email-callout p {
    float: left;
    padding: 0;
    width: 70%;
}

table.table td {
    padding: 4px !important;
}

.bookmark01	{
	float:left;
	width:100%;
}

.bookmark02	{
	float:left;
	margin:20px 0 0 0;
	width:100%;
}

#center > div.inner {
	padding: 30px 10px 30px 10px;

}	
.productimgcol img	{
	display:none;
}

td {
    padding: 0 5px;
}

.productstable {
    font-size: 11px;
    width: 95%;
	padding:10px;
}

.phone	{
	display:block;
}

.nonphone	{
	display:none;
}


}
